<h2>About me</h2>
<p>I'm a computer jack of all trades, working on learning as much as I can at every level of development.</p>

<h2>I'm good at</h2>
<ul>
  <li>New and old programming languages</li>
  <li>Vim and other dev tools</li>
  <li>Server and network configurations</li>
</ul>

<p>Check the links below to see what I've been working on lately, or to send me a message.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
      <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
      <a href="mailto:emailofdavis@gmail.com">Contact me</a>
    </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/davisgoglin">My Github</a>
  </li>
  <!--
  <li class="main-list-item">
    <span class="fa fa-file-pdf-o fa-lg main-list-item-icon"></span>
    <a href="{{ site.baseurl }}/resume.pdf">Résumé</a>
  </li>
  -->
</ul>
